
{% extends 'layout.html' %}
{% block body %}
	<header role="banner" id="fh5co-header">
			<div class="container">
				<!-- <div class="row"> -->
			    <nav class="navbar navbar-default">
		        <div class="navbar-header">
		        	<!-- Mobile Toggle Menu Button -->
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
		         <a class="navbar-brand" href="/index">Phila Freezer Corp</a>
		        </div>
		        <div id="navbar" class="navbar-collapse collapse">
		          <ul class="nav navbar-nav navbar-right">
		            <li><a href="/index" class="active"><span>Home</span></a></li>
					<li><a href="/login" class="external" data-nav-section="work"><span>Login</span></a></li>

		          </ul>
		        </div>
			    </nav>
			  <!-- </div> -->
		  </div>
	</header>


	<section id="fh5co-work" data-section="work">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">Automation Projects</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>Click on a project to control the beep boops and the hot colds.</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-bottom-padded-sm">
				<div class="col-md-4 col-sm-6 col-xxs-12">
					<a href="/temperature" class="fh5co-project-item to-animate">
						<img src="{{ url_for('static', filename='images/temperature.jpg') }}" alt="Image" class="img-responsive">
						<div class="fh5co-text">
						<h2>Temperature Controller</h2>
						<span>Automation</span>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 col-xxs-12">
					<a href="/boiler" class="fh5co-project-item to-animate">
						<img src="{{ url_for('static', filename='images/boiler.jpg') }}" alt="Image" class="img-responsive">
						<div class="fh5co-text">
						<h2>Boiler Controller</h2>
						<span>Automation</span>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 col-xxs-12">
					<a href="/thirdcontroller" class="fh5co-project-item to-animate">
					  <img src="{{ url_for('static', filename='images/temperature.jpg') }}" alt="Image" class="img-responsive">
						<div class="fh5co-text">
						<h2>Third Controller</h2>
						<span>Automation</span>
						</div>
					</a>
				</div>

				<div class="clearfix visible-sm-block"></div>

			</div>

		</div>
	</section>



	<footer id="footer" role="contentinfo">
		<a href="#" class="gotop js-gotop"><i class="icon-arrow-up2"></i></a>
		<div class="container">
			<div class="">
				<div class="col-md-12 text-center">
					<p>&copy; Phila Freezer Corp. All Rights Reserved. <br>Created by <a href="http://freehtml5.co/" target="_blank">Megabox Prime</a> </p>

				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">

				</div>
			</div>
		</div>
	</footer>

	<script>
		$(function(){
			$('#colour-variations ul').styleSwitcher({
				defaultThemeId: 'theme-switch',
				hasPreview: false,
				cookie: {
		          	expires: 30,
		          	isManagingLoad: true
		      	}
			});
			$('.option-toggle').click(function() {
				$('#colour-variations').toggleClass('sleep');
			});
		});
	</script>

{% endblock %}
